body{
  font-family: 'Varela Round', sans-serif;
  margin-top:5%;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #4D4D4D;
}
.dropdown{
  width:300px;
  justify-content: center;
  margin:0 auto;
  padding-bottom: 50px;
}
.btn{
  background-color: rgba(149,149,149,0.6);
}
.dropdown-menu{
  width: -webkit-fill-available;
}
.bootstrap-select.btn-group .dropdown-menu{
  background-color:rgba(149,149,149,0.7);
  overflow-x: hidden;
}
.bs-searchbox .form-control{
  background-color:rgba(119,119,119,0.7);
}
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover{
  background-color:rgba(119,119,119,0.7);

}
.case-title{
  color:#262626;
  font-size: 12px;
}
.flex-container{
  display:flex;
  flex-wrap:nowrap;
  justify-content:center;
  margin:0 auto;

}
#countryHeading{
  color:#262626;
  font-size: 30px;
}
#ratios{
  text-align: left;
  padding-left:10px;
  padding-top:3px;
  font-size: 11px;
  font-style: italic;
  color:#A0A0A0;
}
.lastUpdated{
  width:250px;
  color: #A0A0A0;
  margin:0 auto;
}
#lastUpdated{
  font-size: 13px;
  text-align: center;
}
.top-padding{
  margin-top:10px;
  margin-bottom:20px;
}

.new-confirmed{
  font-size: 13px;
  color:#C10000;
}
.new-deaths{
  font-size: 13px;
  color:#252525;
}
.new-recovered{
  font-size: 13px;
  color:#00E30B;
}
.figure{
  font-size:18px;
  color:#262626;
}
.cases{
  padding:3% 2%;
  margin:40px 1.5%;
  border-radius:20px;
}
.confirmed{
  background-color:rgb(255,108,108,0.4);
}
.active{
  background-color:rgb(180,255,233,0.4);
}
.recovered{
  background-color:rgb(120,255,108,0.4);
}
.deaths{
  background-color:rgb(149,149,149,0.4);
}
canvas#barchartcanvas{
  height:100px!important;
}
#perMillion{
  width:100%;
  font-size: 11px;
  text-align: center;
  font-style: italic;
  color:#A0A0A0;
}
hr{
  height:1px;
  width:75%;
  border:none;
  border-color:rgba(41,41,41,0.7);
  background-color: rgba(41,41,41,0.7);

}
.copyright{
  font-size:11px;
  margin-top:-5px;
  margin-left: 15%;
  font-style: italic;
  color:#A0A0A0;
}
.caret{
  display: none;
}
.bootstrap-select .dropdown-toggle:focus{
  outline: 0px!important;
}
a:focus{
  outline: 0px!important;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: #252521;
}
@media screen and (max-width:470px){
  .cases{
    margin:40px 1px;
  }
  .figure{
    font-size:14px;
  }

  .new-confirmed{
    font-size: 12px;
  }
  .new-deaths{
    font-size: 12px;
  }
  .new-recovered{
    font-size: 12px;
  }
}
