body{
  font-family: 'Varela Round', sans-serif;
  margin-top:5%;
  max-width: 100%;
  overflow-x: hidden;
}
.dropdown{
  width:300px;
  justify-content: center;
  margin:0 auto;
  padding-bottom: 50px;
}
.case-title{
  color:#A0A0A0;
  font-size: 12px;
}
.flex-container{
  display:flex;
  flex-wrap:nowrap;
  justify-content:center;
  margin:0 auto;

}
#countryHeading{
  color:#343434;
  font-size: 30px;
}
#ratios{
  text-align: left;
  padding-left:10px;
  padding-top:3px;
  font-size: 11px;
  font-style: italic;
  color:#7A7A7A;
}
.lastUpdated{
  width:240px;
  color: #A0A0A0;
  margin:0 auto;
}
#lastUpdated{
  font-size: 13px;
  text-align: center;
}
.top-padding{
  margin-top:30px;
}

.new-confirmed{
  font-size: 13px;
  color:rgb(255,41,41);
}
.new-deaths{
  font-size: 13px;
  color:#4D4D4D;
}
.new-recovered{
  font-size: 13px;
  color:#40C22C;
}
.figure{
  font-size:18px;
  color:#343434;
}
.cases{
  background-color:#F7F7F7;
  padding:3% 2%;
  margin:40px 1.5%;
  border-radius:20px;
}
.confirmed:hover{
  background-color:#FFF5F5;
}
.active:hover{
  background-color:#CFFFF8;
}
.recovered:hover{
  background-color:#BFFFBE;
}
.deaths:hover{
  background-color:#d5D5D5;
}
@media screen and (max-width:470px){
  .cases{
    margin:40px 2px;
  }
  .figure{
    font-size:15px;
  }

  .new-confirmed{
    font-size: 12px;
  }
  .new-deaths{
    font-size: 12px;
  }
  .new-recovered{
    font-size: 12px;
  }
}
